#忽略所有文件和目录


 
#增加指定扩展名文件和MAKEFILE文件
!/algorithm
!/practice
!/giraffe
!*.cpp
!*.c
!*.h
!makefile
!Makefile
 
#当前目录下需要提交的文件                                                                                                                                                  
!README.md
